@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400&display=swap');
body {
  font-family: 'Athiti', sans-serif;
  letter-spacing: 0.05em;
}

a:hover {
  color: #303030 !important;
}

.ant-layout-sider-trigger{
  background-color: black !important;
}
.ant-menu-item-selected {
  color : white !important;
  background-color: black !important;
}
.ant-menu-item-active {
  color : white !important;
  background-color: black;

}
.ant-menu-item-selected a:hover{
  color: white;
  border: 0 !important;
}
.ant-menu-item-active a:active{
  color: #000 !important;
}
.ant-menu-item-active a:hover{
  color: white !important;
  border: 0  !important;
}
.ant-menu-inline .ant-menu-item::after{
  border: 0 !important;
}
.ant-menu-submenu-selected{
  border: 0 !important;
}
.ant-btn-primary {
  color: #fff;
  background: black;
  border-color: black;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

/* .ant-btn-primary :active {
  color: black !important;
  background: white !important;
  border-color: black;
} */
/* .ant-btn-primary :focus {
  color: black !important;
  background: white !important;
  border-color: black;
} */
.ant-switch-checked{
  background-color: #000 !important;
}
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: #000 !important;
  border: 0 !important;
}
/* .ant-checkbox-inner {
  background-color: #000 !important;

} */
.ant-btn-primary:hover, .ant-btn-primary:focus{
  background-color: #303030a1 !important;
  border: 0 !important;
}

.ant-input:hover{
    border-color: rgb(75, 75, 75) !important;
    border-right-width: 1px !important;
}

.ant-input-affix-wrapper:hover{
  border-color: rgb(77, 77, 77) !important;
  border-right-width: 1px !important;
}
.ant-checkbox-wrapper-checked{
  border: 0 !important;
}
.ant-checkbox-wrapper{
  border: #000 !important;
}
